.vscode
venv
ll_env
__pycache__
**/__pycache__
*/migrations/__pycache__
*/features/steps/__pycache__
.coverage
covhtml
geckodriver.log
geckodriver-v0.27.0-linux64.tar.gz
geckodriver
db.sqlite3
tests.db
.env
