{% extends "base.html" %}
{% block content %}
<div class="container h-75">
    <div class="row h-100 justify-content-center align-items-center">
        <div id="card" class="card card-size-signup bg-card mb-3">
            <div class="card-header text-white font-weight-bold text-center">
                <h4>Update Password</h4>
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'users:change_password' %}">
                    {% csrf_token %}
                    <div class="form-space">
                        <label for="{{ form.old_password.id_for_label }}" class="sr-only">Old Password</label>
                        <input type="password" id="{{ form.old_password.id_for_label }}" name="{{ form.old_password.html_name }}" class="form-control text-white bg-form-bar" placeholder="Old Password" required>
                    {% if form.old_password.errors %}
                        <p class="card-text text-danger">{{form.errors.old_password.as_text|cut:"* " }}</p>
                    {% endif %}
                    </div>
                    <div class="form-space">
                        <label for="{{ form.new_password1.id_for_label }}" class="sr-only">New Password</label>
                        <input type="password" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}" class="form-control text-white bg-form-bar" placeholder="New Password" required>                        
                    </div>
                    <div class="form-space">
                        <label for="{{ form.new_password2.id_for_label }}" class="sr-only">Confirm New Password</label>
                        <input type="password" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}" class="form-control text-white bg-form-bar" placeholder="Confirm New Password" required>
                        {% if form.new_password2.errors %}
                            <ul class="errorlist">
                            {% for errors in form.new_password2.errors %}
                                <li class="card-text text-danger">{{ errors }}</li>
                            {% endfor %}
                            </ul>
                        
                        {% endif %}
                    </div>
                    
                    <button class="btn btn-outline-light btn-block font-weight-bold form-space" name="submit">Confirm</button>
                    <input type="hidden" name="next" value="{% url 'roomate_app:dashboard' %}"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}