{% extends "base.html" %}
{% block content %}

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div id="card" class="card text-center mb-3">
      <div class="card-body">
        <form class="form-signin" method="post" action="{% url 'users:login' %}">
          <h5 class="card-title">Please sign in</h5>
          <label for="inputUsername" class="sr-only">Username</label>
          <input type="username" id="inputUsername" class="form-control form-space" placeholder="Username" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control form-space" placeholder="Password" required>
          <button class="btn btn-primary form-space" type="submit">Sign in</button>
        </form>
      </div>
  </div>
</div>

{% endblock content %}