{% if request.user.is_authenticated %}
  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <a class="navbar-brand font-weight-bold" href="{% url 'roomate_app:index' %}"><h3>RoomPals</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'roomate_app:profile' %}"><i class="fas fa-user trash"></i>Profile</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link text-white" href="{% url 'users:logout' %}"><i class="fas fa-sign-out-alt trash"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
 
{% else %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <a class="navbar-brand font-weight-bold" href="{% url 'roomate_app:index' %}"><h3>RoomPals</h3></a>
  </nav>
{% endif %}