.btn-space {
    margin-top: 15px;
}

.form-space {
    margin-bottom: 35px;
}

.card-size-login {
    width: 50%;
}

html, body {
    margin: 0;
    height: 100%;
}

.card-size-home {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 35%;
}
