.btn-space {
    margin-top: 15px;
}

.apt-btn-space {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.form-space {
    margin-top: 25px;
    margin-bottom: 25px;
}

.card-size-login {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 28rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.card-size-signup {
    width: 28rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.card-size-apt {
    width: 28rem;
    height: 14rem;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
}

textarea {
    resize: none;
}

.card-size-home {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 28rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.error-font {
    margin-left: 2%;
    font-size: 0.95em;
    color: red;
}

.chores-size {
    margin-top: 1rem;
}

.chore-btn-size {
    height: 4rem;
    padding: 1rem;
}

.chore-card-size {
    width: 32rem;
    height: 24rem;
}

a {
    text-decoration: none;
}

#navbar #navbarNav ul li a{
    display: block;
    padding-left: 25px;
    padding-right: 25px;
}

#navbar #navbarNav ul li a:hover {
    background: rgba(51, 51, 51, 0.678);
}


.chore-form-space {
    margin-top: 1rem;
}

.trash {
    margin-right: 0.5rem;
}

.profile-card {
    width: 32rem;
    height: 18rem;
}

.margin {
    margin-top: 1rem;
}

.bg-apt {
    background: linear-gradient(#25252586, #25252586), url("../pictures/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-xl {
    padding: 1.5rem 3rem;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    margin-right: 10rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.bg-white {
    background-color: #868e96 !important;
    height:100%;
}

.bg-card {
    background-color: #535353b0 !important;
    border: 0px !important;
}

.bg-form-bar {
    background-color: #a5a5a5b0 !important;
    border: 0px !important;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

input::placeholder {
    color: white !important;
}

.ul-padding {
    padding-right: 1rem;
    padding-left: 1rem;
}

.chores-btn-size {
    margin: 0.5rem;
}
