{% extends "base.html" %} 
{% block content %}
{% if user.myuser.myApt %}
    {% if chores %}
        <ul>
        {% for c in chores %}
            <div class="container w-100 h-100 chores-size">
                <div class="row h-100 justify-content-center align-items-center">
                    <div id="card" class="card mb-3 w-100">
                        <div class="card-body">
                            <h5> {{ c.name }} </h5>
                            <p> {{ c.description }} </p>
                            <p> {{ c.creator.username }} </p>
                            {% for a in c.assignees.all %}
                                <p> {{ a }} </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="container w-100 h-100 chores-size">
            <div class="row h-100 justify-content-center align-items-center">
                <a class="btn btn-info btn-lg btn-block chore-btn-size" href="{% url 'roomate_app:newChore' %}" role="button" name="createchore">
                    <div class="vertical">Create a new Chore</div>
                </a>
            </div>
        </div>
        </ul>
    {% else %}
        <p> No chores</p>
        <div>
            <a class="btn btn-info btn-lg apt-btn-space" href="{% url 'roomate_app:newChore' %}" role="button">Create a new Chore</a>
        </div>
    {% endif %}
{% else %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div>
                <form method="post" action="{% url 'roomate_app:newApartment' %}">
                    {% csrf_token %}
                    <button class="btn btn-info btn-lg apt-btn-space" name="submit">Create a new Apartment</button>
                    <input type="hidden" name="next" value="{% url 'roomate_app:dashboard' %}"/>
                </form>
            </div>
            <div>
                <a class="btn btn-info btn-lg apt-btn-space" href="{% url 'roomate_app:joinApartment' %}" role="button">Join an existing Apartment</a>
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}

