{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row md-12">
    <div class="col-md-5 mx-auto">
      <div class="form-group">
        <p class="text-center">Please login to get started!</p>
      </div>
      <div class="col-md-12 text-center">
        <a class="btn btn-block mybtn btn-primary tx-tfm" href="#">Login</a>
      </div>

      <div class="form-group">
        <p class="text-center">No Account?</p>
      </div>

      <div class="col-md-12 text-center">
        <a class="btn btn-block mybtn btn-primary tx-tfm" href="#">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!-- <div class="card" style="width: 18rem;">
<form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
  </form>
</div> -->
