{% extends "base.html" %}
{% block content %}

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div id="card" class="card text-center mb-3 card-size-home">
      <div class="card-body align-items-center">
        <h5 class="card-title">Welcome to Project Roommate!</h5>
        <div>
          <a class="btn btn-info btn-space" href="{% url 'users:login' %}" role="button">Login</a>
        </div>
        <div>
          <a class="btn btn-info btn-space" href="{% url 'users:register' %}" role="button">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
