{% extends "base.html" %} 
{% block content %}

<div class="container h-75">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="card profile-card ml-3 mr-3 bg-card">
        <div class="card-body text-white d-flex flex-column">
          <div class="row">
            <div class="col-md-4 pull-md-8 text-left">
              <p>Username: </p>
            </div>
            <div class="col-md-8 push-md-4 text-left">
              <p>{{ username }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pull-md-8 text-left">
              <p>Email: </p>
            </div>
            <div class="col-md-8 push-md-4 text-left">
              <p>{{ email }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pull-md-8 text-left">
              <p>Join Apartment Token: </p>
            </div>
            <div class="col-md-8 push-md-4 text-left">
              <p>{{ apt_token }}</p>
            </div>
          </div>
          <div class="mt-auto">
            <form method="post" action="{% url 'users:change_password' %}">
              {% csrf_token %}
              <button class="btn btn-outline-light font-weight-bold btn-block" name="submit">Change Password</button>
              <input type="hidden" name="next" value="{% url 'roomate_app:dashboard' %}"/>
            </form>
            <form method="post" action="{% url 'roomate_app:leaveApt' %}" class="margin">
              {% csrf_token %}
              <button class="btn btn-danger font-weight-bold btn-block leave-color" name="submit-leave">Leave the current Apartment</button>
              <input type="hidden" name="next" value="{% url 'roomate_app:dashboard' %}"/>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock content %}
